*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.conatiner{
max-width: 900px;
margin: 0 auto;
}
.apply_box{
max-width: 600px;
background-color: white;
padding: 20px;
margin: 0 auto;
margin-top: 50px;
border-radius: 10px;
}
.tittle{
    position: relative;
    left: 230px;
   bottom: 25px;
   font-size: 1.2rem;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
input,textarea,select{
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid;
    /* position: relative;
    top: 7px; */
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input:focus{
    outline-color: skyblue;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    /* border: ; */
    padding: 10px;
    /* align-self: center; */
    border-radius: 10px;
    background-color: skyblue;
    /* color: white; */
    transition: 1s;
}
button:hover{
    background-color:red;
    cursor: pointer;
}
.textarea_control{
    grid-column-start: 1 ;
    grid-column-end: 3;

}
.textarea_control textarea{
    width: 100%;
}
@media (max-width:460px){
    .textarea_control{
        grid-column-start: 1 ;
        grid-column-end: 1;
    
    }
}